body {
    margin: 0;
    padding: 0;
    background-image: url("./imgs/a4kweb.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    height: 100vh;
    box-sizing: border-box;
  }

/*------------------HOME PAGE -------------------*/
.Home_Page {

}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: -14%;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 50px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
  }
  
  .nav-links li a:hover {
    color: #CD4C0E;
  }

  .header img {
   margin-top: 8%;
  }

  .Home_Page_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
  }

  .subHeading {
    color: #fff;
    background-color: #EC820E;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
  }

  .game-links {
    display: flex;
    list-style-type: none;
    background-color:#FDF8ED;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 50px;
  }

  .game-links li {
    padding: 20px;
  }

  .game-links li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }

  .game-links li a:hover {
    color: #CD4C0E;
  }

  /*----------------GAME PAGE---------------------*/
  .Games_Page {
    background-image: url("./imgs/jo__rule_of_thirds_3d_animation_playing_video_games_2_african_c_eb1b8052-1f24-4334-b539-4e8e9f5510b5.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top_section {
    display: flex;
    justify-content: space-around;
  }

  .left_section img {
    width: 60%;
  }

  .right_section img {
    width: 60%;
  }

  .mid_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom_section {
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
    gap: 500px;
  }

  .left_flex .subHeading {
    width: 110px;
  }

  .right_flex .subHeading {
    width: 110px;
  }

  .inner {
    display: flex;
    flex-direction: column;
  }


/*-------------ABOUT US PAGE-------------*/
.AboutUs_Page {
    background-image: url("./imgs/0002.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AboutUs_Header {
    color: #FDF8ED;
    font-size: xx-large;
    margin-top: 80px;
  }

  .AboutUs_topSection {
    margin-top: 50px;
    display: flex;
  }