body {
    margin: 0;
    padding: 0;
    background-image: url("./imgs/a4kweb.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    height: 100vh;
    box-sizing: border-box;
  }

/*------------------HOME PAGE -------------------*/

.header {
    display: flex;
    justify-content: space-around;
    margin-top: -14%;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 50px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
  }
  
  .nav-links li a:hover {
    color: #CD4C0E;
  }

  .header img {
   margin-top: 8%;
  }

  .Home_Page_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
  }

  .subHeading {
    color: #fff;
    background-color: #EC820E;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
  }

  .game-links {
    display: flex;
    list-style-type: none;
    background-color:#FDF8ED;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 50px;
  }

  .game-links li {
    padding: 20px;
  }

  .game-links li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }

  .game-links li a:hover {
    color: #CD4C0E;
  }

  /*----------------GAME PAGE---------------------*/
  .Games_Page {
    background-image: url("./imgs/jo__rule_of_thirds_3d_animation_playing_video_games_2_african_c_eb1b8052-1f24-4334-b539-4e8e9f5510b5.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top_section {
    display: flex;
    justify-content: space-around;
  }

  .left_section img {
    width: 60%;
  }

  .right_section img {
    width: 60%;
  }

  .mid_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom_section {
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
    gap: 500px;
  }

  .left_flex .subHeading {
    width: 110px;
  }

  .right_flex .subHeading {
    width: 110px;
  }

  .inner {
    display: flex;
    flex-direction: column;
  }


/*-------------ABOUT US PAGE-------------*/
.AboutUs_Page {
    background-image: url("./imgs/0002.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #FDF8ED;
    justify-content: space-between;
  }

  .AboutUs_Header {
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 80px;
    align-self: center;
  }

  .AboutUs_topSection {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
   
  }

  .heading {
    font-size: large;
    font-weight: bold;
  }

  .AboutUs_bottomSection {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
  }

  .mid {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  /*-------------CONTACT US PAGE-------------*/

  .ContactUS_Page {
    background-image: url("./imgs/jo__rule_of_thirds_3d_animation_playing_video_games_2_african_c_eb1b8052-1f24-4334-b539-4e8e9f5510b5.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
  }

  .ContactUS_Header {
    margin-top: 40px;
    align-self: center;
    font-size: 24px;
    font-weight: bolder;
  }

  .ContactUs_content {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 110px;
  }

  .contact-form {
    border-radius: 10px;
    text-align: left;
  }
  
  
  .contact-form h2 {
    color: #fff;
    font-size: 20px;
  }
  
  .contact-form form {
    display: grid;
    gap: 10px;
  }
  
  .contact-form label {
    color: #fff;
  }
  
  .contact-form input[type="email"],
  .contact-form input[type="text"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    border-radius: 10px;
    padding: 5px;
    border: none;
    width: 120%;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button[type="submit"] {
    background-color: #C9823D;
    color: #003142;
    font-weight: bolder;
    font-size: large;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 80px;
  }
  
  .drop-message {
    color: #003142;
    font-weight: bolder;
    font-size: larger;
  }

  .social-media-details {
    display: flex;
    flex-direction: column;
  }

  .social-media-details .buttons {
    display: flex;
    flex-direction: column;
  }

  .address {
    display: flex;
  }
  
  .footer {
    text-align: right;
    color: #fff;
    padding-right: 20px;
    margin-top: 70px;
  }